/*Imports*/

/*MISCELANEOUS*/
@import './misc/normalize';
@import './misc/mixins';
@import './misc/variables';


/*PARTIALS*/
@import './partials/header';
@import './partials/footer';

/*VIEWS*/
@import './views/home';
@import './views/sobrenosotros';
@import './views/servicio';
@import './views/trayectoria';
@import './views/contacto';