/*Normalize
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

Variables
:root {
    --principal: rgb(201, 204, 0);
}

Globales

.body {
    width: auto;
    background-image: url(../images/bgimage3.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    display: inline-block;
}

a {
    color: white !important
}

.ul__item {
    text-decoration: none;
}

Header
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(201, 204, 0) !important;
}

.container-fluid {
    max-width: 1080px;
}

#navbarNav {
    justify-content: end;
}

.header {
    background-color: rgb(201, 204, 0);
    padding: 20px;
    height: 125px;
    margin: 0%;
    font-size: 1em;
    ;
}

.header__nav {
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__nav__logo {
    display: flex;
    justify-content: left;
    flex-basis: 25%;
}

.header__nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
    font-family: 'Ubuntu Mono', monospace;
}



Main
.main {
    height: 75vh;
    display: flex;
    padding: 20px;

}

.main--contacto {
    justify-content: center;
    justify-content: space-around;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.main__section--contacto {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
}

.main__section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 0 auto;
}

.main__section__h1 {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
    font-size: 1.8em;
    font-family: 'Ubuntu Mono', monospace;


}

.main__section__p {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    text-align: justify;
    color: white;
    font-size: 1.6em;
    font-family: 'Ubuntu Mono', monospace;

}

.divdea {
    display: flex;
}

.div {
    display: flex;
    max-width: 1080x;
    margin: 0 auto;
    flex-direction: row;

}

.main__section__a {
    border: 2px solid #b8af37;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    background-color: #b8af37;
    border-radius: 6px;
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3em;
    padding: .8rem;
    flex-basis: 10%;
}

.main__section__a:hover {
    background-color: rgb(201, 204, 0);
    opacity: 75%;
}

.main__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}




/*Footer
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "footer__divh footer__diva"
    ;

    padding: 20px;
    margin: 0 auto;
    max-width: 1080px;
}

.footer__divh {
    display: grid;
    text-align: center;
    align-self: center;
    color: #ffffff;
    grid-area: footer__divh;
    font-family: 'Ubuntu Mono', monospace;
}

.footer__diva {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    grid-area: footer__diva;
}

.footer__gmail {
    display: flex;
    flex-direction: row;
    align-self: center;

}

@media screen and (max-width: 1200px) {

    /*Header
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(201, 204, 0) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    #navbarNav {
        justify-content: end;
    }

    .header {
        background-color: rgb(201, 204, 0);
        padding: 20px;
        height: 125px;
        margin: 0%;
        font-size: 1em;
    }

    .header__nav {
        max-width: 1080px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header__nav__logo {
        display: flex;
        justify-content: left;
        flex-basis: 25%;
    }

    .header__nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 50%;
        font-family: 'Ubuntu Mono', monospace;
    }

    /*Main
    .main {
        height: 75vh;
        display: flex;
        padding: 20px;
    }

    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }

    .main__section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
    }

    .main__section__h1 {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        color: white;
        font-size: 1.8em;
        font-family: 'Ubuntu Mono', monospace;
    }

    .main__section__p {
        display: flex;
        justify-content: center;
        max-width: 1080px;
        margin: 0 auto;
        text-align: justify;
        color: white;
        font-size: 1.6em;
        font-family: 'Ubuntu Mono', monospace;
    }

    .divdea {
        display: flex;
    }

    .div {
        display: flex;
        max-width: 1080x;
        margin: 0 auto;
        flex-direction: row;

    }

    .main__section__a {
        border: 2px solid #b8af37;
        text-decoration: none;
        font-weight: 400;
        color: #ffffff;
        background-color: #b8af37;
        border-radius: 6px;
        display: flex;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.3em;
        padding: .8rem;
        flex-basis: 10%;
    }

    .main__section__a:hover {
        background-color: rgb(201, 204, 0);
        opacity: 75%;
    }

    .main__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    /*Footer
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}


@media screen and (max-width: 1024px) {

    /*Header
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(201, 204, 0) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    #navbarNav {
        justify-content: end;
    }

    .header {
        background-color: rgb(201, 204, 0);
        padding: 20px;
        height: 125px;
        margin: 0%;
        font-size: 1em;
    }

    .header__nav {
        max-width: 1080px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header__nav__logo {
        display: flex;
        justify-content: left;
        flex-basis: 25%;
    }

    .header__nav__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-basis: 50%;
        font-family: 'Ubuntu Mono', monospace;
    }

    /*Main
    .main {
        height: 75vh;
        display: flex;
        padding: 20px;
    }

    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }

    .main__section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
    }

    .main__section__h1 {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        color: white;
        font-size: 1.6em;
        font-family: 'Ubuntu Mono', monospace;
    }

    .main__section__p {
        display: flex;
        justify-content: center;
        max-width: 1080px;
        margin: 0 auto;
        text-align: justify;
        color: white;
        font-size: 1.4em;
        font-family: 'Ubuntu Mono', monospace;
    }

    .divdea {
        display: flex;
    }

    .div {
        display: flex;
        max-width: 1080x;
        margin: 0 auto;
        flex-direction: row;

    }

    .main__section__a {
        border: 2px solid #b8af37;
        text-decoration: none;
        font-weight: 400;
        color: #ffffff;
        background-color: #b8af37;
        border-radius: 6px;
        display: flex;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.3em;
        padding: .8rem;
        flex-basis: 10%;
    }

    .main__section__a:hover {
        background-color: rgb(201, 204, 0);
        opacity: 75%;
    }

    .main__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
    }

    /*Footer
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {

    .main__section {
        font-size: .8rem;
    }

    .main__section--contacto {
        font-size: .8rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .main__section {
        font-size: .8rem;
    }

    .main__section--contacto {
        font-size: .8rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {

    .main__section {
        font-size: .8rem;
    }

    .main__section--contacto {
        font-size: .8rem;
    }

    .main__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

}

@media screen and (max-width: 320px) {
    .body {
        width: auto;
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main__section {
        font-size: .6rem;
    }

    .main__section--contacto {
        font-size: .6rem;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;
    }

    .footer__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    .footer__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    .footer__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

}
