.footer {
padding: 30px;
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: space-between;


&__diva{
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: space-evenly;

}
&__divh{
    display: flex;
    flex-basis: 55%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
}

.h4, h4{
    font-size: 1.2rem;
    color: black;
    font-weight: 800;
    font-family: 'Dosis', sans-serif;
}
 

