.main--contacto {
    justify-content: center;
    justify-content: space-around;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.main__section--contacto {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;

}
.main__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 1080px;
    margin: 0 auto;
}

.boton {
    justify-content: left;
    height: 40px;
    width: 120px;
    background-color: black !important;
    color: #636363 !important;
    align-items: center;
    justify-content: center;

&:hover {
    border-color: white;
    border-style: groove;
}
}
.comentario {
    color: white;
    font-size: 20px;
    font-family: 'Dosis', sans-serif !important;
}

@media screen and (max-width: 1200px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    

    

@media screen and (max-width: 1024px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    


@media screen and (max-width: 768px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    
@media screen and (max-width: 600px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    

@media screen and (max-width: 480px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    

@media screen and (max-width: 320px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    
    }
    .main__form {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    
    .boton {
        justify-content: left;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
    
    &:hover {
        border-color: white;
        border-style: groove;
    }
    }
    .comentario {
        color: white;
        font-size: 20px;
        font-family: 'Dosis', sans-serif !important;
    }
}    