.main--contacto {
    justify-content: center;
    justify-content: space-around;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main__section--contacto {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
}
.main__section__h1 {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
    font-size: 1.8em;
    font-family: 'Ubuntu Mono', monospace;

&__p {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    text-align: justify;
    color: white;
    font-size: 1.6em;
    font-family: 'Ubuntu Mono', monospace;

}
}
.main__form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 1080px;
    margin: 0 auto;
}
.comentario{
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
}

@media screen and (max-width: 1200px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(201, 204, 0) !important;
    }
    
    .container-fluid {
        max-width: 1080px;
    }
    
    #navbarNav {
        justify-content: end;
    }
    
    .header {
        background-color: rgb(201, 204, 0);
        padding: 20px;
        height: 125px;
        margin: 0%;
        font-size: 1em;
    
    &__nav {
        max-width: 1080px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    
        &__logo {
         display: flex;
         justify-content: left;
         flex-basis: 25%;
    }
    
        &__ul {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         flex-basis: 50%;
         font-family: 'Ubuntu Mono', monospace;
    }
    
    }
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }
    .main__section__h1 {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        color: white;
        font-size: 1.8em;
        font-family: 'Ubuntu Mono', monospace;
    
    &__p {
        display: flex;
        justify-content: center;
        max-width: 1080px;
        margin: 0 auto;
        text-align: justify;
        color: white;
        font-size: 1.6em;
        font-family: 'Ubuntu Mono', monospace;
    
    }
    }
    .main__form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    .comentario{
        color: white;
        font-size: 20px;
        font-family: 'Ubuntu Mono', monospace;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}
    
}

@media screen and (max-width: 1024px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(201, 204, 0) !important;
    }
    
    .container-fluid {
        max-width: 1080px;
    }
    
    #navbarNav {
        justify-content: end;
    }
    
    .header {
        background-color: rgb(201, 204, 0);
        padding: 20px;
        height: 125px;
        margin: 0%;
        font-size: 1em;
    
    &__nav {
        max-width: 1080px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    
        &__logo {
         display: flex;
         justify-content: left;
         flex-basis: 25%;
    }
    
        &__ul {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         flex-basis: 50%;
         font-family: 'Ubuntu Mono', monospace;
    }
    
    }
    }
    .main--contacto {
        justify-content: center;
        justify-content: space-around;
        height: 75vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .main__section--contacto {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }
    .main__section__h1 {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        color: white;
        font-size: 1.8em;
        font-family: 'Ubuntu Mono', monospace;
    
    &__p {
        display: flex;
        justify-content: center;
        max-width: 1080px;
        margin: 0 auto;
        text-align: justify;
        color: white;
        font-size: 1.6em;
        font-family: 'Ubuntu Mono', monospace;
    
    }
    }
    .main__form {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        max-width: 1080px;
        margin: 0 auto;
    }
    .comentario{
        color: white;
        font-size: 20px;
        font-family: 'Ubuntu Mono', monospace;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}
}


@media screen and (max-width: 768px) {
    .body {
        width: auto;
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main__section--contacto {
        font-size: .8rem;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}  
}

@media screen and (max-width: 600px) {
    .body {
        width: auto;
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main__section--contacto {
        font-size: .8rem;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}
  
}

@media screen and (max-width: 480px) {
    .body {
        width: auto;
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main__section--contacto {
        font-size: .8rem;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}
}

@media screen and (max-width: 320px) {
    .body {
        width: auto;
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main__section--contacto {
        font-size: .6rem;
    }
    .main__form {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: 0 auto;
    }
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "footer__divh footer__diva"
        ;

        padding: 20px;
        margin: 0 auto;
        max-width: 1080px;

    &__divh {
        display: grid;
        text-align: center;
        align-self: center;
        color: #ffffff;
        grid-area: footer__divh;
        font-family: 'Ubuntu Mono', monospace;
    }

    &__diva {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        justify-content: space-between;
        grid-area: footer__diva;
    }

    &__gmail {
        display: flex;
        flex-direction: row;
        align-self: center;
    }
}
  
}