.mainini {
    height: 70vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "maininisection imgini"
        "maininisection ..."
    ;
    align-items: center;
    justify-items: end;



    &__section {
        display: flex;
        @include flex(column);
        grid-area: maininisection;

        &__h1 {
            font-family: 'Dosis', sans-serif;
            font-size: 6rem;
            color: white;
            font-weight: 600;


        }

        &__h2 {

            font-family: 'Dosis', sans-serif;
            font-size: 2rem;
            color: white;
            font-weight: 300;
        }
    }

}

.divini {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgini {
    grid-area: imgini;
}

#linea {
    animation: lineamovimiento 2s infinite linear;
}

@keyframes lineamovimiento {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main__section__a {
    display: inline-flex;
    height: 40px;
    width: 120px;
    background-color: black !important;
    color: #636363 !important;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    border-color: rgb(255, 255, 255) !important;
    position: relative;
    overflow: hidden;

}

.main__section__a span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.main__section__a::after {
    content: "";
    height: 300px;
    width: 120px;
    background-color: #ffffff;
    position: absolute;
    top: -300px;
    z-index: 1;
    left: 0;
    border-radius: 0px 0px 300px 300px;
    transition: .5s ease-in-out all;
}

.main__section__a:hover::after {
    top: 0;
}

.divimg {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}

.divdea {
    max-width: 1080px;
    margin: 0;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
    grid-area: divdea;
}



@media screen and (max-width: 1200px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 6rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 2rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
}


@media screen and (max-width: 1024px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 6rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 2rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
}

@media screen and (max-width: 768px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 6rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 2rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
}

@media screen and (max-width: 600px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 6rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 2rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
    .footer {
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
        
        &__diva{
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
            justify-content: space-evenly;
        
        }
        &__divh{
            display: flex;
            flex-basis: 55%;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
        }
        
        .h4, h4{
            font-size: 1rem;
            color: black;
            font-weight: 800;
            font-family: 'Dosis', sans-serif;
        }
}

@media screen and (max-width: 480px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 5rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 1rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 30px;
        width: 100px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
    .footer {
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
        
        &__diva{
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
            justify-content: space-evenly;
        
        }
        &__divh{
            display: flex;
            flex-basis: 70%;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
        }
        
        .h4, h4{
            font-size: 1rem;
            color: black;
            font-weight: 800;
            font-family: 'Dosis', sans-serif;
        }
}

@media screen and (max-width: 320px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }

    .mainini {
        height: 70vh;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "maininisection imgini"
            "maininisection ..."
        ;
        align-items: center;
        justify-items: end;

        &__section {
            display: flex;
            @include flex(column);
            grid-area: maininisection;

            &__h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 5rem;
                color: white;
                font-weight: 600;
            }

            &__h2 {

                font-family: 'Dosis', sans-serif;
                font-size: 1rem;
                color: white;
                font-weight: 300;
            }

        }
    }

    .divini {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .imgini {
        grid-area: imgini;
    }

    #linea {
        animation: lineamovimiento 2s infinite linear;
    }

    @keyframes lineamovimiento {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .main__section__a {
        display: inline-flex;
        height: 30px;
        width: 100px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;

    }

    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }

    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }

    .main__section__a:hover::after {
        top: 0;
    }

    .divimg {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
    }

    .divdea {
        max-width: 1080px;
        margin: 0;
        display: flex;
        flex-basis: 50%;
        justify-content: flex-start;
        grid-area: divdea;
    }
    .footer {
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
        
        &__diva{
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
            justify-content: space-evenly;
        
        }
        &__divh{
            display: flex;
            flex-basis: 55%;
            flex-direction: row;
            align-items:flex-start;
            justify-content: space-between;
        }
        }
        
        .h4, h4{
            font-size: .8rem;
            color: black;
            font-weight: 800;
            font-family: 'Dosis', sans-serif;
        }

}