.mains {
    height: 100%;
    padding: 20px;

}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}


.mains__section {
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 50px;
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card7"
        "divdeas divdeas"
    ;
    align-items: center;
    justify-items: center;
}

.card-text:last-child {
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;

}

.main__section__a {
    display: inline-flex;
    height: 40px;
    width: 120px;
    background-color: black !important;
    color: #636363 !important;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    border-color: rgb(255, 255, 255) !important;
    position: relative;
    overflow: hidden;


}

.main__section__a span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.main__section__a::after {
    content: "";
    height: 300px;
    width: 120px;
    background-color: #ffffff;
    position: absolute;
    top: -300px;
    z-index: 1;
    left: 0;
    border-radius: 0px 0px 300px 300px;
    transition: .5s ease-in-out all;
}

.main__section__a:hover::after {
    top: 0;
}

.divdeas {
    display: flex;
    grid-area: divdeas;
}



@media screen and (max-width: 1200px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card7"
            "divdeas divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    

  

@media screen and (max-width: 1024px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card7"
            "divdeas divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    

@media screen and (max-width: 768px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card7"
            "divdeas divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    

@media screen and (max-width: 600px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 40px;
        width: 120px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    

@media screen and (max-width: 480px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 30px;
        width: 100px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    

@media screen and (max-width: 320px) {
    .bg-light {
        --bs-bg-opacity: 1;
        background-color: rgb(255, 255, 255) !important;
    }

    .container-fluid {
        max-width: 1080px;
    }
    .mains {
        height: 100%;
        padding: 20px;
    
    }
    
    .card1 {
        grid-area: card1;
    }
    
    .card2 {
        grid-area: card2;
    }
    
    .card3 {
        grid-area: card3;
    }
    
    .card4 {
        grid-area: card4;
    }
    
    .card5 {
        grid-area: card5;
    }
    
    .card6 {
        grid-area: card6;
    }
    
    .card7 {
        grid-area: card7;
    }
    
    
    .mains__section {
        justify-content: space-evenly;
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "divdeas"
        ;
        align-items: center;
        justify-items: center;
    }
    
    .card-text:last-child {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-weight: 300;
    
    }
    
    .main__section__a {
        display: inline-flex;
        height: 30px;
        width: 100px;
        background-color: black !important;
        color: #636363 !important;
        align-items: center;
        justify-content: center;
        transition: .3s ease all;
        border-color: rgb(255, 255, 255) !important;
        position: relative;
        overflow: hidden;
    
    
    }
    
    .main__section__a span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    
    .main__section__a::after {
        content: "";
        height: 300px;
        width: 120px;
        background-color: #ffffff;
        position: absolute;
        top: -300px;
        z-index: 1;
        left: 0;
        border-radius: 0px 0px 300px 300px;
        transition: .5s ease-in-out all;
    }
    
    .main__section__a:hover::after {
        top: 0;
    }
    
    .divdeas {
        display: flex;
        grid-area: divdeas;
    }
    
}    