/*Normalize*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

/*Globales*/

.body {
    width: auto;
    background-color: rgb(0, 0, 0) ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: inline-block;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ul__item {
    text-decoration: none;
}