/*Normalize*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

/*Globales*/

.body {
    width: auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    display: inline-block;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.ul__item {
    text-decoration: none;
}